<ul class="list-group">
    <li routerLink="/cars"
    [class] = "getAllCars()"
    (click) = "setCurrentBrandNull()"
    >All Brands</li>
    <li>
        
    </li>
    <li *ngFor = "let brand of brands"
    routerLink="/cars/brand/{{brand.brandId}}"
    (click) = "setCurrentBrand(brand)"  
    [class] = "getCurrentBrand(brand)">{{brand.brandName}}</li>
</ul>
<h5 *ngIf = "currentBrand">{{currentBrand.brandName}} seçtiniz</h5> <!--*ngIf="currentBrand" means: if there is a currentBrand value.. it is not undefined.--> 