<div *ngIf = "dataLoaded == false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf = "dataLoaded == true" class = "table" >
    <thead class = "table">
        <tr>
            <td>Car Name</td>
        </tr>
    </thead>
    <tr *ngFor= "let car of cars">
        <td>{{car.brandName + " " + car.description}}</td>
        <button type="button" class="btn btn-primary"
        routerLink="/cars/{{car.carId}}"
        >See Details</button>
    </tr>
</table>

<!-- <mat-selection-list #shoes [multiple]="false">
    <mat-list-option *ngFor="let car of cars" [value]="car">
      {{car.}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Option selected: {{shoes.selectedOptions.selected[0]?.value}}
  </p> -->

<!-- 
<mat-selection-list #shoes [multiple]="false">
    <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Option selected: {{shoes.selectedOptions.selected[0]?.value}}
  </p> -->